
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  background-color: #FFF;
  color: #500f17;
  padding: 0px !important;
}
.__className_aaf875 {
overflow: hidden !important;
}
@font-face {
  font-family:'brutaprocompressed';
  src: url("../font/brutaprocompressed-bold.otf");
}

.container{
  position: absolute;
  display: flex;
  flex-direction: column;
}

.homecontainer{
  display: flex;
  position: relative;
  background-color: #FFF;
}


.background-div {
  flex: 1; /* Takes up the remaining space */
  justify-content: center;
  position: relative;
  width: 100%;
   /* height: 500px !important; */ 
}

.left-div, .right-div {
 width: 50%;
 position: absolute;
padding: 10px;
z-index: 1;
}

.left-div {
  left:0;
  
}

.right-div {
  right: 0;
  
}

.main_background{
  position: absolute;
  left: 0;
  width: 100% !important;
  height: 100%;
  
}
.positions{
  position:absolute !important;
  top:0;
  width: 100%;
}
.row99{
  position: relative;
  display: flex;
  width: 100% !important;
}
.col99{
  width: 50% !important;
  height: auto;
}
#rect{
  z-index: 999;
}

.hea{
  padding: 30px;
}
/* #heading{
  font-family: 'brutaprocompressed';
  font-size: 80px;
  font-weight: 800;
  text-align: justify;
  color: #500f17;
} */
.styles-module_blinkingCursor__yugAC, .styles-module_blinking__9VXRT{
  display: none;
}
#logo{
  animation: fill 0.5s ease forwards 3s;
}

#logo path:nth-child(1){
  stroke-dasharray: 216 !important; 
   stroke-dasharray: 216 !important;
  animation: line-anim 2s ease forwards; 
}
#logo path:nth-child(2){
  stroke-dasharray:161 !important; 
  stroke-dasharray: 161 !important;
  animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(3){
  stroke-dasharray:256 !important; 
  stroke-dasharray: 256 !important;
  animation: line-anim 2s ease forwards;

}
#logo path:nth-child(4){

  stroke-dasharray:222 !important; 
  stroke-dasharray: 222 !important;
  animation: line-anim 2s ease forwards;
}
#logo path:nth-child(5){

  stroke-dasharray:171 !important; 
  stroke-dasharray: 171 !important;
  animation: line-anim 2s ease forwards;
}
#logo path:nth-child(6){

  stroke-dasharray:171 !important; 
  stroke-dasharray: 171 !important;
  animation: line-anim 2s ease forwards;
}
#logo path:nth-child(7){

  stroke-dasharray:216 !important; 
  stroke-dasharray:216 !important;
  animation: line-anim 2s ease forwards;
}
#logo path:nth-child(8){

  stroke-dasharray:284 !important; 
  stroke-dasharray: 284 !important;
  animation: line-anim 2s ease forwards;
}
#logo path:nth-child(9){

  stroke-dasharray:148 !important; 
  stroke-dasharray:148 !important;
  animation: line-anim 2s ease forwards;
}
#logo path:nth-child(10){

  stroke-dasharray:200 !important; 
  stroke-dasharray: 200 !important;
  animation: line-anim 2s ease forwards;
}
#logo path:nth-child(11){

  stroke-dasharray:184 !important; 
  stroke-dasharray:184 !important;
  animation: line-anim 2s ease forwards;
}
#logo path:nth-child(12){
  stroke-dasharray:237 !important; 
  stroke-dasharray: 237 !important;
  animation: line-anim 2s ease forwards;
}
#logo path:nth-child(12){
  stroke-dasharray:236 !important; 
  stroke-dasharray:236 !important;
  animation: line-anim 2s ease forwards;
}

@keyframes  line-anim{
  to{
    stroke-dashoffset: 0;
  }
  
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to{
    fill: #500f17;
  }
}

.index-module_type__E-SaG::after{
  display: none !important;
}

#rect {
  position: absolute;
  /* Other styling properties */
  z-index: 999 !important; /* Adjust the value as needed */
}



#cap{
  transform-origin: 100,100 !important;
  transition: cubic-bezier(0.19, 1, 0.22, 1)1s;
}
.rotate-data{
animation-name: box-data;
animation-duration: 3s;
animation-timing-function: linear;
animation-iteration-count: infinite;
transform-origin: center;

}
/* @keyframes box-data {
  0%{
    transform: rotatZ(0deg);
  }
  100%{
    transform: rotateZ(360deg);
  }
} */
.col99 div p{
  font-size:19px !important;
  margin:25px 0px;
  font-weight: 600;
}
/* .salad{
  width: auto;
} */

#parent{

  width: 100%;
  height: 80vh !important;
}
.carosual{
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
}
.contant{
  position: absolute;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
top: 0%;
text-align: center;
}
.contant h1{
  font-size:100px;
  /* z-index: 999999; */
}
#cap {
  opacity: 0;
  /* display: none; */ /* If you want to hide the element, uncomment this line */
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1); /* Add transition for transform property */
/* Rotate around the X-axis by 50 degrees */
}
/* #Layer 1 */

.hero-banner{
  display: flex;
  justify-content: center !important;
  align-items: center;


}
.hero-content h1{

    font-family: 'brutaprocompressed';
    font-size:90px;
    font-weight: 800;
    text-align: justify;
    color: #500f17;
    
  
}
.hero-content h2{
  font-size:90px;
  font-weight: 800;
  text-align: justify;
  color: #500f17;
  font-family: 'brutaprocompressed';
}
.hero-content h2 span{
  font-size:70px;
}
.hero-content{
  text-align: justify !important;
}

.footer{
  position: relative !important;
height:400px;
width: 100%;
background-color: #500f17;
display: flex;
justify-content: center;
align-items: center;
margin-top: 100px;
color:WHITE;

}
.footer-logo{
  width: 20%;
  height: auto;
}
 .week{
  width: 110px !important;
  display: inline-block;
}
 .map iframe{
  border-radius: 20px !important;
 }

 .hero-content{
  margin-top:21px;
  }


  .slick-dots{
    display: none !important;
  }












 /* meida query start */

 @media screen and (max-width:1500px) {
  .hero-content{
  margin-top: 15px;
  }
  .hero-content h1{
    font-size: 60px;
  }
  .index-module_type__E-SaG{
    font-size: 45px !important; 
  }
  .hero-content h2{
    font-size: 60px !important; 

  }
  .hero-content h2 span{
    font-size: 40px !important; 
  }
  .waffle-content{
    width: 80%;
  }

 
}

/* for mobile deve *************************************************** */

@media screen and (max-width:430px) {
  .hero-content h1{
    font-size:50px;
  }
  .ms-5{
    margin: 0px !important;
    margin-left: 0px !important;
  }
  .AppBar_myCustomContainer__2mq2G {
  padding-left: 30px !important;
  padding-right:30px !important;
  }

  .hero-banner{
    margin-top:0px !important;
  }
  div.hero-content.ms-5{
    margin-left:19px !important;
  }
  .hero-content h2{
    font-size:51px !important;
  }
  .index-module_type__E-SaG{
    font-size: 44px !important;
  }
  img.AppBar_appbarlogo__pfVHk {
    width: 20% !important;
  }
  .hero-content h2 span{
    font-size:35px !important; 
  }
  .home_slider__aEPIk{
    margin-left:40px !important;
  }
  #svg{
    display: none !important  ;
  }
  .footer{
    position: absolute !important;
    bottom:-500% !important;
    height: 700px;
  }
  #OBJECTS{
    position: absolute !important;
    bottom: -500% !important;
    display: none;
    
  }
  .home_sandwich__uvNrB{
    width: 100% !important;
  }
  .row99{
    margin-top:20px;
  }
  .home_Burgers__3hvIV{
    width: 100% !important;
  }
  p.me-5{
    margin-right: 3px !important;
  }
  div.d-flex.justify-content-center{
    justify-content: start !important;
    margin-top: 10px !important;
  }
  .allproduct h1{
    font-size: 48px !important;
    margin-top: 45px !important;
    margin-bottom: 30px !important;
  } 
}

@media screen and (max-width:400px) {
  .footer{
    position: absolute !important;
    bottom:-490% !important;
    height: 700px;
  }
  .allproduct h1{
    font-size: 30px;
  }
}

@media screen and (max-width:360px) {
  .footer{
    position: absolute !important;
    bottom:-480% !important;
    height: 700px;
  }
  .hero-content h1{
    font-size:42px;
  }
  .hero-content h2{
    font-size:45px !important;
  }
  /* div.hero */
}

.audiodata{
visibility: hidden;
}
.allproduct h1{
  font-family: 'brutaprocompressed';
  font-size:90px;
  font-weight: 800;
margin-top: 30px;
  color: #500f17;
}